* {
	box-sizing: border-box;
}

body {
	font-family: Arial Black;
	user-select: none;
	margin: 0;
	color: #ffd777;
	background-color: #d83100;
}

.navbar {
	font-size: 2rem;
	width: 100%;
	position: fixed;
	display: inline-block;
	top: 0;
	bottom: 0;
	height: 15%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);
	vertical-align: middle;
}

a, button {
	color: inherit;
	transition: background 50ms ease-out, transform 150ms ease-out;
	text-decoration: none;
	cursor: pointer;
}

a:hover, button:hover {
	transform: scale(1.07);
}

a:active, button:active {
	transform: scale(0.93);
}

.flex-sect {
	height: 100vh;
	position: relative;
}

.flex-title {
	position: absolute;
	font-weight: 700;
	padding: 0 5% 0 5%;
	display: inline-block;
	width: 35%;
	text-align: center;
	line-height: 0;
	top: 25%;
	bottom: 45%;
}

.vertical-center {
  	position: absolute;
  	top: 55%;
  	-ms-transform: translateY(-45%);
  	transform: translateY(-45%);
}

.flex-title.left {
	left: 0;
}

.flex-title.right {
	right: 5%;
}

.flex-title-text {
	font-size: clamp(32px, 12vw, 80px);
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

	line-height: 100%;
}

.flex-title-button {
	font-family: inherit;
	font-size: clamp(1rem, 1vw, 24px);
	color: white;
	background-color: #d83100;
	padding: 1rem;
	border-radius: 12px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	
    border:0;
}

.flex-title-button:focus {
	outline: 0;
}


.fillrect {
	height: 100%;
	width: 100%;
}

.right-gradient {
	background: linear-gradient(to left, #000b 0%, #0000 50%);

	float: left;
	position: absolute;
}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}

.cell {
	flex-grow: 1;
	flex-basis: 100%;
}

.hero {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.home.hero {
	background-image: linear-gradient(to right, #000b 0%, #0000 50%), url(https://superspacehero.com/avt217/p2/site/img/burger1.jpg);
}

.secondary-buttons {
	position: relative;
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

	border-radius: 20px;
	margin: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	cursor: pointer;
}

.secondary-buttons:hover {
	transform: scale(1.02);
}

.secondary-buttons:active {
	transform: scale(0.98);
}

.secondary-buttons-text {
	font-size: clamp(32px, 6vw, 64px);
	width: 100%;
	position: absolute;
	bottom: 0;
}

.secondary-buttons.story {
	background-image: linear-gradient(to top, #000c 0%, #0000 50%), url(https://superspacehero.com/avt217/p2/site/img/story.jpg);
}

.secondary-buttons.careers {
	background-image: linear-gradient(to top, #000c 0%, #0000 50%), url(https://superspacehero.com/avt217/p2/site/img/careers.jpg);
}

.secondary-buttons.nutrition {
	background-image: linear-gradient(to top, #000c 0%, #0000 50%), url(https://superspacehero.com/avt217/p2/site/img/burger2.jpg);
}


.footer{
	padding-top: 2rem;
	padding-bottom: 1rem;
	display: flex;
	align-items: center;
}

.footer-copyright {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	padding: 1rem 0;
	width: 100%;
}

.footer-text {
	color: white;
	font-family: Arial Black;
}

.footer-links {
	flex-basis:70%;
}

.footer-social {
	flex-basis:30%;
	padding-left: 8%;
	padding-right: 8%;
}

.social {
	font-size: 2rem;
}

.social:hover {
	transform: scale(1.1);
}

.social:active {
	transform: scale(0.9);
}

.footer-text.links{
	position: relative;
	height:100%;
	text-align:center;
}

.footer-text.copyright {
	width: 100%;
	padding: 1rem 0 1rem 5%;
	font-size: 0.75rem;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}



.logo {
	padding-top: 10px;
	padding-left: 10px;
	display: flex;
	flex-basis: 40%;
	align-items: center;
}

.logo:hover {
	transform: scale(1.02);
}

.logo:active {
	transform: scale(0.98);
}

.logo-text {
  	transform: translateX(1rem);
}

.icon {
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	float: left;
}

.navbar-links {
	font-family: Arial;
	font-weight: 700;
	text-align: center;
	padding-top: 10px;
	line-height: 120px;
}

@media (max-width: 1280px) {
	
	.flex-title {
		width: 50%;
	}

	.logo {
		flex-basis: 70%;
	}
}

@media (max-width: 768px) {
	.flex-title {
		width: 60%;
	}
	
	.home.hero {
		background-image: linear-gradient(to top, #000b 0%, #0000 50%), url(https://superspacehero.com/avt217/p2/site/img/burger1.jpg);
	}

	.flex-title {
		width: 100%;
		top: 60%;
	}

	.flex-title.right {
		left: 0;
		right: 0;
		float: left;
	}

	.row {
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.right-gradient {
		background: linear-gradient(to top, #000b 0%, #0000 50%);
	}
}