html
{
    scroll-behavior: smooth;
}

body:not(svg.intro)
{
	width: 80%;
	
	background-color: #2A0085;
	text-align:center;
	font-family: Helvetica;
	color: #666;
	margin: 0.5em auto;
}

h1
{
	font-weight: bold;
	font-size: 6em;
	color: #888;
}

p.title
{
	font-weight: bold;
	font-size: 3em;
}

p.center
{
	font-weight: bold;
	font-size: 2em;
}

p.smallcenter
{
	font-weight: bold;
	font-size: 1.5em;
}

img
{
	margin: 0 20px 0 0;
}

h1 img
{
	margin-bottom: -20px;
}

small
{
	color: #666;
}

a
{
	color: #666;
	transition: background 250ms ease-in-out, transform 150ms ease;
}

a:link
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

a:hover
{
	transform: scale(1.1);
	text-decoration: underline;
}

a:active
{
	transform: scale(0.9);
	text-decoration: underline;
}

