html
{
	scroll-behavior: smooth;
}

body
{
	background-color: #2a004c;
	font-size: 1.5em;
	font-family: Helvetica;
	color: #e5b401;
}

.header {
	position: sticky;
	top: 0;
	left: 0;

	overflow: hidden;
	background-color: #470181;
}

.header #myLinks {
	display: none;
}

.header a {
	padding: 0.75em 0.75em;
	display: block;
	float: left;
	color: #e5b401;
	text-decoration: none;
	font-size: 1.5em; 
}

.header a.logo {
	font-size: 1.5em;
	font-weight: bold;
}

.header a.icon {
	background: black;
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

.header a:hover {
	background-color: #5904a0;
	color: #ffd53a;
}

.header a.active {
	background-color: #6411a9;
	color: #f7d661;
}

.header a.active:hover {
	background-color: #8218da;
	color: #ffe176;
}

.header-right {
	position: sticky;
	/*! top: 1.5em; */
	float: right;
}

@media screen and (max-width: 640px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}

	.header a.icon {
		display: block;
	}

	.header-right {
		float: none;
	}

	.header #myLinks {
		display: none;
	}
}

@media screen and (min-width: 641px) {
	.header #myLinks {
		display: block;
	}
}



h1
{
	font-weight: bold;
	font-size: 4em;
	color: #ffcd1b;
}

ul
{
	margin: 0.25em 0.25em;
}

p
{
	margin: 0.25em 0.25em;
}

p.title
{
	font-weight: bold;
	font-size: 2.5em;
}

p.center
{
	text-align: center;
	font-weight: bold;
}

p.smallcenter
{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}

hr
{
	width:80%;
}

img
{
	margin: 0 1.5vh 0 0;
}

h1 img
{
	margin-bottom: -1.5vh;
}

a
{
	color: #ddd;
	transition: background 50ms ease-out, transform 150ms ease-out;
	text-decoration: none;
}

a:hover
{
	transform: scale(1.1);
}

a:active
{
	transform: scale(0.9);
}

a.anchor
{
	position: relative;
	top: -3em;
	visibility: hidden;
}
