html
{
	scroll-behavior: smooth;
}

body
{
	background-color: #2a004c;
	font-size: 2em;
	font-family: Helvetica;
	color: #e5b401;
	margin: 2vw auto;
}

nav {
	position: sticky;
	padding: 0.25em 0.5em;
	top:0;
	left:0;
	right:0;

	overflow: hidden;
	background-color: #333;
}

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: inline-block;
	text-align: center;
	padding: 0.25em 0.5em;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.content {
	padding-top: 1.5vh;
}



h1
{
	font-weight: bold;
	font-size: 6vw;
	color: #ffcd1b;
}

p.title
{
	font-weight: bold;
	font-size: 3vw;
}

p
{
	text-align: center;
	margin: 0.25em 5vh;
}

p.center
{
	font-weight: bold;
}

p.smallcenter
{
	font-weight: bold;
	font-size: 1.5vw;
}

img
{
	margin: 0 1.5vh 0 0;
}

h1 img
{
	margin-bottom: -1.5vh;
}

a
{
	color: #ddd;
	transition: background 50ms ease-out, transform 150ms ease-out;
	text-decoration: none;
}

a:hover
{
	transform: scale(1.1);
	text-decoration: underline;
}

a:active
{
	transform: scale(0.9);
	text-decoration: underline;
}

a.anchor
{
	position: relative;
	top: -3em;
	visibility: hidden;
}
